<f:for each="{blogs}" as="blog">

    <div class="blog-item">

        <h3>{blog.title}</h3>

        <f:if condition="{blog.images}">
            <f:image image="{blog.images}" width="300" />
        </f:if>

        <p><f:format.stripTags>{blog.description}</f:format.stripTags></p>

         <f:if condition="{showReadMore}">
            <f:link.action action="show" arguments="{blog: blog}">
                Read More
            </f:link.action>
        </f:if>
    </div>
    <hr>
</f:for>

<f:if condition="{showReadMore}">
    <f:render partial="Pagination/Blog" arguments="{pagination: pagination}" />
</f:if>

<f:if condition="!{showReadMore}">
    <f:render partial="Pagination/Filter" arguments="{pagination: pagination, title: title}" />
</f:if>