<f:flashMessages as="messages">
    <f:for each="{messages}" as="message">
        <div class="my-flash-message">
            {message.message}
        </div>
    </f:for>
</f:flashMessages>

<f:asset.script
    identifier="delete-confirm"
    src="EXT:ns_blog_system/Resources/Public/JavaScript/delete-confirm.js" />

<h1 style="text-align:center">Blog List</h1>

<f:form action="new">
    <button type="submit" style="padding:7px">Create New Blog</button>
</f:form><br>

<table border="1" cellpadding="10">
<tr>
    <th>Title</th>
    <th>Image</th>
    <th>Description</th>
    <th>Actions</th>
</tr>

<f:for each="{blogs}" as="blog">
<tr>

    <!-- Title -->
    <td>{blog.title}</td>

    <!-- Image -->
    <td>
        <f:if condition="{blog.images}">
            <f:image image="{blog.images}" width="120" />
        </f:if>
    </td>

    <!-- Description -->
    <td>
        <f:format.crop maxCharacters="100">
            <f:format.stripTags>{blog.description}</f:format.stripTags>
        </f:format.crop>
    </td>

    <!-- Actions -->
    <td>

        <f:form action="edit" arguments="{blog: blog}" style="display:inline-block">
           <button type="submit">Edit</button>
        </f:form>

        <f:form action="delete" method="post" arguments="{blog: blog.uid}" style="display:inline-block">

            <button type="button" class="delete-btn">
                Delete
            </button>

        </f:form>

    </td>

</tr>
</f:for>

</table>
<script src="/js/delete-confirm.js"></script>
